node_modules/
**/node_modules/
electron/bin/
dist/
dist-electron/
release/
.env
.env.*.local
.DS_Store
.idea/
.vscode/
target/
*.class
*.iml
*.tar.gz
*.mov
/coverage/
ffmpeg*.log
*.webm
*.mp4
*.mov
example/*.png
example/*.gif