.edit-modal-content {
  width: 90%;
  max-width: 900px;
  max-height: 90vh;
}

.edit-modal-content .modal-body {
  padding: 0;
}

.edit-modal-content .settings-form-container {
  border: none;
  box-shadow: none;
  margin-bottom: 0;
}

.edit-modal-content .settings-header {
  background-color: transparent;
}
